<div id="holder">
	<div id="img1">
	</div>
	<div id="lt-trick">
	</div>
	<div id="img2">
	</div>
	<div id="above-img2">
		<img id="head" src="assets/head.png" />
		<div id="intro">
			<p>
			I am a Master of Computer Science student in Columbia University.
			I've be studying Computer Science for 5 years and will graduate on Dec, 2013.
			</p>
			<p>
			I am looking for a fulltime position as a full stack developer, since I am interested in both front-end and back-end.
			</p>
			<div id="card" class="card-blue">
			Public enum Skills{
				<ul>
					<li>Java</li>
					<li>Ruby on Rails</li>
					<li>JSP</li>
					<li>APS.NET</li>
					<li>C</li>
					<li>C#</li>
					<li>Ocaml</li>
					<li>SQL</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>Javascript</li>
					<li>jQuery</li>
					<li>Bootstrap</li>
				</ul>
			}
			</div>
			<br>
			<div id="card" class="card-red">
			Public enum Courses{
				<ul>
					<li>Analysis of algorithms</li>
					<li>Advanced software engineering</li>
					<li>Programming language & translator</li>
					<li>Introduction to databases</li>
					<li>Operating System</li>
					<li>Database system implement</li>
					<li>Prin-innovation/entrepreneurship</li>
					<li>Project in computer science</li>
				</ul>	
			}
			</div>

		</div>
	</div>
	<div id="above">
		<div id="part1">
			<h1>
				<em>Hi,</em>
				MY NAME IS<br>
				<strong>Xiaotong Chen</strong>
			</h1>
			<br>
			<img id="left-line" src="assets/breaker.png"/>
				<ul id="sentences">
					<li>I like both frontend and backend.</li>
					<li>Coding makes me feel good.</li>
					<li>Stay hungry. Stay foolish.</li>
				</ul>
			<img id="right-line" src="assets/breaker.png"/>
			<br>
			<h2 class="show">
				I'm a 23 year old Master Student, Web Developer & Coder in San Francisco, Ca, US. If you have a project or creative need that I can help with, please <a href="mailto:xc2230@columbia.edu">contact me</a>.
			</h2>
			<h2 class="my-hide">
				I'm looking for a fulltime position as a full-stack developer.
				I really enjoy coding and challenges! I just get things done.
			</h2>
		</div>
		<div id="part2">
			Hi, I am part2.
		</div>
		<div id="part3">
			<div id="edge"></div>
			<div>
				<ul>
				<li id="front">
					<div id="circle">FRONT</div>
					<p>Use jQuery for the fexible/complicated jobs. CSS3 is good for simple things. Plugins, like Bootstrap, are always sweet!</p>
				</li>
				<li id="back">
					<div id="circle">BACK</div>
					<p>Knowedge of C proves you started coding in several years ago, while that of Java and Ruby proves you are still coding. </p>
				</li>
				<li id="data">
					<div id="circle">DATA</div>
					<p>Mysql, SqlServer and Oracle are my good friends!</p>
				</li>
				</ul>
			</div>
			<div id="bottom-intro">
				<h1>
					<em>Hi,</em>
					It's me, A full stack guy.
				</h1>
			</div>
			<div id="footer">
				<p>
					Xiaotong Chen ©2013
				</p>
			</div>
		</div>
	</div>
</div>