<div class="bg-about">
</div>
<div class="about-outer">
	<div id="aboutme" class="aboutme">
		<div class="about-header">
			<strong>WELCOME</strong>
		</div>
		<div class="about-head-intro">
			<div class="about-head"></div>
			<div class="about-intro">
				<p>
					This is my blog where I can record everything about me.<br>
					During the development, I learnt many things like Ruby on Rails, Bootstrap, jQuery, CSS3 and so on.<br>
					Well, I would say, Ruby on Rails is such an amazing thing.<br>
					It helps me build this blog within only a few days from ZERO!<br>
				</p>
			</div>
		</div>
	</div>
	<div class="about-fence"></div>
	<div class="about-mid">
		<div id="compus" class="about-compus">
			<h1>ABOUT ME</h1>
			<p>
				I am a Master Student in Columbia University.<br>
				My major is Computer Science.<br>
				I will graduate on Dec, 2013.<br>
				I am looking for a fulltime position as a full stack developer.<br>
				I am pretty interested in Web Development, including front-end and back-end.
			</p>
			<p>
				Public enum Skills{<br>
				<br>
				Java, Ruby on Rails, JSP, ASP.NET, C, C#, Ocaml, SQL, HTML, CSS, Javascript, jQuery, Bootstrap<br>
				<br>
				}
			</p>
			<p>
				Public enum Courses{<br>
				<br>
				Analysis of algorithms, Advanced software engineering,<br>
				Programming language & translator, Introduction to databases,<br>
				Operating System, Database system implement,<br>
				Prin-innovation/entrepreneurship, Project in computer science<br>
				<br>
				}
			</p>
		</div>
		<hr>
		<div id="bolg" class="about-blog">
			<h1>ABOUT THIS BLOG</h1>
			<p>
				This is my first Ruby on Rails application that published online.<br> 
				I didn't use any existing template -- all the codes are wrote line by line.<br>
				As a guest, you might check all the posts that I've ever posted and leave comments as you wish.<br>
				As an admin, I can post article and administrate the whole website.<br>
				That means there are validation, authentication and login systems behind.<br>
				The infrastructure was finished in couple of days.<br>
				I have to admit that front-end is much more time-consuming than back-end.<br>
				Ruby on Rails is so convinient that I think I've been in love with it.<br>
				If you have any question about this website, please feel free to drop me an email.<br>
			</p>
		</div>
		<hr>
		<div id="life" class="about-life">
			<h1>MY HOBBIES</h1>
			<p>
				I love cooking Chinese food. BECAUSE the cuisine in Chinese restaurant is not traditional...<br>
				Watching TV shows with my girlfriend. BECAUSE I think they are boring, I seldomly watch them alone...<br>
				Coding with my girlfriend. Show my manliness...<br>
			</p>
		</div>
	</div>
	<div class="about-fence"></div>
	<div class="about-contact-me">
		<div class="about-header">
			<strong>CONTACT ME, TODAY</strong>
		</div>
		<div>
			<div class="about-email"></div>
			<div class="about-contact-list">
				<ul class="list">
					<li class="a1">Want to talk about the web development? I would be more than glad to share with you!</li>
					<li class="a2">Looking for a nice guy to fill the openning? I am looking for fulltime job as a back-end or front-end developer.</li>
					<li class="a3">Have a greate project idea and want to find someone who loves to challenge? Let's do it!</li>
					<li class="a4">Send me an email or call me!<br>
						Email: <a href="mailto:xc2230@">xc2230@columbia.edu</a><br>
						Phone: 646-378-9611
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>