<% content_for :where do %>
	<%= "search" %>
<% end %>
<div class="top-margin">
	<div>
		<h2>Results for keyword "<%= @keyword %>"</a></h2>
	</div>
	<!--show posts-->
	<%= render :partial => "show_posts", :locals => {:posts => @posts} %>
	<!-- pager -->
	<div class="apple_pagination">
		<%= will_paginate @posts, :container => false %>
	</div>
</div>