// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.aboutme, .about-contact-me{
	position: relative;
	top: 80px;
	text-align: center;
	font-family: 'Ziggurat-HTF-Black';
	color: white;
	padding: 0 0 300px 0;
	min-height:700px;
}
.about-outer strong{

	font-size: 187px;
text-transform: uppercase;
line-height: 218px;
padding-top: 24px;
font-weight: 900;
font-family: "Proxima-Nova-1", Arial, sans-serif;

}
.about-outer h1{
	font-size: 80px;
	padding: 30px;
	line-height: 80px;
}
.aboutme p, .about-mid p{
font-family: sans-serif;
	padding: 30px;
	font-size: 25px;
	line-height: 1;
}
.about-header{
	padding: 0 0 60px 0;
}
.bg-about{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	background: url(beach.jpg) no-repeat center top;
}
.about-envp{
	margin:auto;
	top:211px;
	height:533px;
	width:484px;
	background:url(env_close.png) no-repeat;
	position: relative;
}
.list {
  position: relative;
  float: left;
  font-faimly: 'Proxima-Nova-1', Proxima Nova, Myriad Pro, Arial, sans-serif;
}

.list p{
	display: none;
}
.list div{
	font-size:25px;
	line-height: 1;
	font-family: sans-serif;
	position: relative;
	width: 0px;
	height: 0px;
}
.list div:hover{
	cursor: default;
	box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 40px #000000, 0 0 70px #000000;
}
div.a1{
	background: #FCD271;
	color: #F78D3F;
}
div.a2{
	background: #F78D3F;
	color: #FCD271;
}
div.a3{
	background: #2BBBD8;
	color: #FFFFFF;
}
div.a4{
	background: #102E37;
	color: #2BBBD8;
}
.about-head{
width: 310px;
height: 365px;
right: 100px;
top: 50px;
background: url(head.png) no-repeat;
position: absolute;
}
.about-head-intro{
	positon: absolute;
	margin: auto;
	display: none;
}
.about-mid{
	padding: 0 0 60px 0;
	min-height: 800px;
	position: relative;
background: url(background_gray.png) repeat ;
	opacity :1;
	margin: auto;
	min-height: 1000px;
}
.about-compus, .about-blog, .about-life {
	position: relative;
	margin: auto;
	left: 0px;
}
.about-compus{
	color: #df5329;
}
.about-blog{
	text-align: right;
	color: #000000;
}
.about-life{
	color: #FFFFFF;
}

.about-contact-me{
	height: 400px;
}
.about-fence{
	position: relative;
	opacity :0.8;
	height: 120px;
	width: 100%;
	#background: url(fence.png);
	background-repeat:repeat-x;
}
.about-email{
	width: 384px;
	height: 265px;
	left: 300px;
	background: url(email.png) no-repeat;
	position: relative;
}
.carousel{
	max-width: 1000px;
	margin:auto;
}
.carousel-inner img{
	margin: auto;
}
.go-top-about{
	top:100px;
}
.go-next, .go-prev{
height: 25px;
width: 50px;
margin: 7px 0 0 14px
}

.go-next{
background: url(down.png) no-repeat;
}
.go-prev{
background: url(up.png) no-repeat;
}

.go-next-blk, .go-prev-blk{
background-color: #000000;
position: fixed;
height: 24px;
width: 50px;
opacity: 0.3;
cursor: pointer;
top: 100px;
right: 155px;
z-index: 10;
}
.go-prev-blk{
display:none;
}
.go-next-blk{
	top: 126px;
}
