/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 

.digg_pagination {
  background: url(background_gray.png) repeat ;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }

.bg{
background: url(background_gray.png) repeat ;
width:100%;
min-height:900px;
}
.bg-gray{
background-color: #eeeeee;	
-moz-box-shadow: 0px 0px 0px #eeeeee;
-webkit-box-shadow: 0px 0px 0px #eeeeee;
box-shadow: 0px 0px 0px #eeeeee;
}
.post {
	margin-left: 310px;
	border: 10px ; 
clear: both;
overflow: hidden;
background-color: white;
}
.side{
width:200px;
position: fixed;
margin: 40px 0 0;
padding: 0;
background-color: whitesmoke;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-moz-box-shadow: 2px 2px 2px gray;
-webkit-box-shadow: 2px 2px 2px gray;
box-shadow: 2px 2px 2px gray;
}
.footer{
margin-top: 100px;
bottom:0;
}
.width-textarea{
  height:100px;
  width:99%;
}
.width-textfield{
  width:99%;
}
.go-top-img{
background: url(go-top.png) no-repeat;
height: 50px;
width: 50px;
margin: 10px 0 0 12px
}
.go-top{
display: none;
background-color: #000000;
position: fixed;
height: 50px;
width: 50px;
opacity: 0.3;
cursor: pointer;
bottom: 100px;
right: 100px;
z-index: 10;
}