// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default; }

 .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }


.post_feed {
padding: 50px;
margin-bottom: 20px;
font-size: 18px;
font-weight: 200;
line-height: 30px;
color: inherit;
background-color: white;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-moz-box-shadow: 2px 2px 2px gray;
-webkit-box-shadow: 2px 2px 2px gray;
box-shadow: 2px 2px 2px gray;
}

.top-margin {
	margin-top: 80px;
}
.top-margin-small {
	margin-top: 30px;
}
.top-margin-small {
	margin-top: 30px;
}
.small-size {
	font-size: 12px;
}
.normal-size {
	font-size: 14px;
}

.post-header{
margin: -30px 0px 0px -35px;
padding: 8px 12px;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.post-title{
color: #df5329;
font-size: 30px;
font-weight: normal;
font-family: 'Droid Serif', serif;
font-style: italic;
}
.post-header a:hover{
text-decoration: none;
color: #f0ac98;
}
.post-ts-arrow{
background: url(date-arrow.png) no-repeat;
width: 175px;
height: 41px;
margin: -45px 0 0 -70px;
}
.post-ts-flag{
background: url(date-flag.png) no-repeat;
width: 175px;
height: 40px;
margin: -45px 0 0 -125px;
}
.post-ts-date-arrow{
position: relative;
height: 10px;
padding: 6px 0px 0px 7px;
font-size: 14px;
font-weight: bold;
}
.post-ts-date-flag{
position: relative;
color: white;
height: 10px;
padding: 6px 0px 0px 16px;
font-size: 14px;
font-weight: bold;
}
.post-content{
	margin: 30px 0 0 0;
}
.post-footer{
	padding: 15px 0px 0px 0px;
	margin: 0px -50px 0px -50px;
	background: transparent url(hr_dots.png) top left repeat-x;
}
.post-footer-tags{
	float:left;
}
.post-footer-coms{
	max-width: 300px;
	float:right;
}
.prev-next-div-bg{
	background-color: gray;
}
.post-sider{
margin: 0 0 0 -11px;
background: url(sider_3.png);
width: 221px;
height: 55px;
}
.post-sider a{
padding: 25px 0px 0px 23px !important;
color: white;
}
.post-sider span{
padding: 27px 0px 0px 23px ;
}
.post-sider a:hover{
text-decoration: none;
font-weight: bold;
}
